*

!/.gitignore
!/LICENSE
!/README.md

!/main.typ
!/refs.yaml

!/assets/
!/assets/full.json
!/assets/full.svg
!/assets/x1.json
!/assets/x1.svg
!/assets/y1.json
!/assets/y1.svg
!/assets/y2.json
!/assets/y2.svg
!/assets/z1.json
!/assets/z1.svg
!/assets/z2.json
!/assets/z2.svg

!/ltspice/
!/ltspice/full.asc
!/ltspice/x.asc
!/ltspice/y.asc
!/ltspice/z.asc
